		<style type="text/css">
			.form-group{
				margin-top:10px;
			}
		</style>
		<div class="container-fluid" align="center" style="margin-bottom: 30px">
			 <div class="row card_item">
					<div class="col-lg-5">
						<div class="main_img">
						  	<% if blog.img.attached? %> 
							<%= image_tag blog.img,style: "width:100% ;height: 220px;display: block;", id:"imgshow" %> 
							<%else %>
							<%= image_tag "loi-hien-thi.png",style: "width:100% ;height: 220px;display: block;", id:"imgshow" %> 

							<%end%>   
							<%# image_tag "loi-hien-thi.png",style: "width:100% ;  height:220px", id:"imgshow" %> 
						</div>
					</div>
					<div class="col-lg-7">
						<div class="title">
							<h4 id="title_demo"> Title </h4>
						</div>
						<div class="detail">
							<p id="abstract_demo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nisi ea, cupiditate expedita nostrum dolorem tempore nemo iste odit, architecto ducimus! Consequatur suscipit dolores iste voluptatem sint corrupti saepe cupiditate!</p>
							
						</div>
						<div class="card_footer">
							<span class="author">Tác giả: <i>Blog lap trinh</i> </span>
							<span class="create_at">12/12/2002</span>
						</div>
						
					</div>
			
			</div>
			
		
		</div>

<div class="container">
<%= form_with(model: blog) do |form| %>
  <% if blog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
	<% if blog.idCategory %>
		<% if blog.idCategory.length > 2 %> <%# xử lý idCategory trong blog %>
			<% count_idcategory =  blog.idCategory.length - 2 %>
		<% else %>
			<%count_idcategory =  blog.idCategory.length - 1 %>
		<% end%>
  <div class="field">
     <%= form.label :'idCategory' %>
	 <div class="row">
	 	<%  category = Category.all %>
	 	<% category.each do |category|%>
		<div class="col-sm-1">		
				<%if  blog.idCategory[0..count_idcategory].split(",").find_index(category.id.to_s ) %>
				<% 	check = "checked" %>
				<% else %>
				<% check = "" %>
				<%end%>
			<input type="checkbox" name=<%= "category_demo"%> value=<%= category.id %> <%= check%> > 
			<label> <%= category.name%></label>
			     
	
		</div>
		<%end%>
	 </div>

  </div>
		<% else %>
	  <div class="field">
     <%= form.label :'Danh mục',style:'margin-bottom:10px' %>
	 <div class="row">
	 	<%  category = Category.all %>
	 	<% category.each do |category|%>
		<div class="col-sm-1">		
				
			<input type="checkbox" name=<%= "category_demo"%> value=<%= category.id %>  > 
			<label> <%= category.name%></label>
		</div>
		<%end%>
	 </div>
  </div>
	<% end %>
    <%= form.text_field :idCategory,class:"form-control", style:"display:none" %>
 
  <div class="form-group">
    <%= form.label :title, value:"tiêu đề "  %>
    <%= form.text_field :title, class:"form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :abstract, value:"Mô tả" %>
    <%= form.text_field :abstract,class:"form-control" %>
  </div>

  <div class="form-group" >
    <%= form.label :content, value: "Nội dung"%>
    <%= form.text_field :content, class:"form-control" , style:"display: none;" %>
  </div>
	<input type="text" id="content">

  <div class="form-group">
  
    <%= form.label :img, "Ảnh bài viết" %>
    <%= form.file_field :img,class: 'form-control' %>
    
	<br>
  </div>
  <div class="actions">
    <%= form.submit%>
  </div>
 
<% end %>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.ckeditor.com/4.16.0/standard/ckeditor.js"></script>	
<script>
       var editor = CKEDITOR.replace( 'content' ); 
      	editor.on( 'change', function( evt ) {
			$('#blog_content').val(evt.editor.getData())  
			console.log( evt.editor.getData()) ; 
		});
		
	

	// đọc file img 
  	$('document').ready(function () { 
		CKEDITOR.instances["content"].setData($("#blog_content").val())



    	$("#blog_img").change(function () {
        	if (this.files && this.files[0]) {
            	var reader = new FileReader();
            	reader.onload = function (e) {
                	$('#imgshow').attr('src', e.target.result);
            	}
            	reader.readAsDataURL(this.files[0]);
        	}
    	});

		$("#blog_title").change(function () {  // thay đổi tiêu đề đemo x
			document.getElementById("title_demo").innerHTML = $("#blog_title").val()
	
		});
		$("#blog_abstract").change(function () {  // thay đổi tiêu đề đemo x
			document.getElementById("abstract_demo").innerHTML = $("#blog_abstract").val()
	
		});
		$("input[type='checkbox']").change(function () {  // thay đổi tiêu đề đemo x
		   var checkbox = document.getElementsByName('category_demo');
		   var result ='';
			console.log(checkbox.length) ; 
			 for (var i = 0; i < checkbox.length; i++){
                    if (checkbox[i].checked === true){
                        result += '' + checkbox[i].value + ',';
                    }
                }
			console.log(result)
			console.log($("#blog_idCategory").val(result))
		});
	});
</script>