
<style>
.mark ,mark{
    background-color: #ffff00;
}
</style>

		<div class="container" style="width:81%;margin-top:40px">
			<h3>
				<% url =  "" %>
                <% if params[:idCategory] %>
					<% url = "idCategory="+params[:idCategory] %>
                	<span class="title_main">
                		<%= "Danh mục: " + Category.find_by(id: + params[:idCategory]).name%>
                	</span>  
                <% end %>

            </h3>
            <h3 style="margin-top:30px"> Kết quả tìm kiếm 
                 <% if params[:search]  %>
				 	<% url = "search="+params[:search] %>
                  ( <mark> <%= params[:search] %></mark>)
                    <% end%>
                <span style="color:red">  
                    : <%= @count_blog %> 
                </span>  
            </h3>
		
			<div class="row ">
					<% @blogSearch.each do |blog|%>
				<div class="col-lg-4" style="">
					<div class="card_blog">
						<div class="col-sm-12 cardBlog_img">
							<% if blog.img.attached? %> 
								<%= image_tag blog.img,style: "width: 100%; height:220px ; display: block" %> 
							<% else %>
								<%= image_tag "loi-hien-thi.png",style: "width:100% ;  height:220px" %> 
							<%end%>  
							<%# <img src="https://codelearn.io/Upload/Blog/can-bang-phuong-trinh-hoa-hoc-bang-cpp-63752466266.5863.jpg" > %>
						</div>
						<div class="col-sm-12 cardBolg_body">
							<p class="cardblog_title"> 
                            <% if params[:search]  %>
                                <%= link_to raw(blog.title.gsub(params[:search] , "<mark>"+ params[:search]+ "</mark>")), "/blogs/" + blog.id.to_s%> 
                            <% else %>
                               <%= link_to blog.title, "/blogs/" + blog.id.to_s%> 
                            <% end%>
                            </p>
							<% if blog.abstract.length <= 85%>
								<span class="cardBlog_detail">  <%= blog.abstract %></span>
							<% else %>
								<span class="cardBlog_detail">  
								   <% if params[:search]  %>
										<%= raw blog.abstract[0..85].gsub(params[:search] , "<mark>"+ params[:search]+ "</mark>") %>...
									<% else %>
										<%= raw blog.abstract[0..85] %>...
									<% end%>
								</span>
							<%end %>
							<div class="row">
								<div class="col-sm-12 card_danhmuc">
									<% if blog.idCategory.length > 2 %> <%# xử lý idCategory trong blog %>
										<% count_idcategory =  blog.idCategory.length - 2 %>
									<% else %>
										<%count_idcategory =  blog.idCategory.length - 1 %>
									<% end%>
									<%# lấy ra danh  muc theo query select + categoru where id IN (1,2,3) %>
									<%  categories =  Category.where(id: blog.idCategory[0..count_idcategory].split(",") ) %> 
									<% categories.each do |cate| %>
										<span class="card_titleDanhmuc"><%= cate.name%> </span>
									<% end%>
								</div>
							</div>
						</div>
						<div class=" col-sm-12 cardBlog_footer">
							<hr/>
							<span class="author"> <%= User.find_by_id(blog.idUser).username %> </span>
							<span class="create_at"> <%= blog.created_at.strftime("%d/%m/%Y") %> </span>
							<span class="sharing"><i class='fas fa-share-alt' style='font-size:24px'></i></span>

						</div>
					</div>
					
				</div>
				<% end %>

			
				
			
			</div>
		</div>
<div class="container" align="center" style="padding:3px 40%">
	<nav aria-label="Page navigation example"  align="center">
		<% if @total_page > 1 %>
			<ul class="pagination">
				<li class="page-item"><%= link_to "first", "/search?"+url+"&page=1" , class:"page-link"  %> </li>
				<% for i in 1..@total_page %>
				<%# <li class="page-item"><a class="page-link" href="#"><%= i  </a></li> %>
				<li class="page-item"><%= link_to i, "/search?"+url+"&page="+i.to_s , class:"page-link"  %> </li>
				<% end%>
				<li class="page-item"><%= link_to "last", "/search?"+url+"&page="+ @total_page.to_s , class:"page-link"  %> </li>

			</ul>
		<% end %>
	</nav>
</div>