
    <div class="container_fluid">
		<div class=" card text-center">
			<div class=" col-sm-12 card-header" style="height:120px;background: white">
				<div class="text-justify">
					<ul class="nav justify-content-start" style="position:absolute">
					<li class="nav-item title_menu">
						<a href="/">
							<%= image_tag "logomain.png", height:"100px" %> 
						</a>
					</li>
					
					<li style="margin-left:50px;margin-top:30px">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							<span style="font-size: 20px;font-weight: bold;color: #003366">
								Danh mục
							</span>
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<div class="box_danhmuc" >
								<ul class="row" style="width:100%;" align="center">
								 	<%# get danh sách danh muucj %>
									<% category = Category.all%>
									<% category.each do |category|%>
										<li class="col-sm-3"><%= link_to category.name, "/search?idCategory=" + category.id.to_s%> </li> 
									<% end %>
								</ul>
							</div>
						</ul>
					</li>
					<li style="margin-top: 30px">
						<a class="nav-link active" href="/contact">
							<span style="font-size:20px;color: #003366;font-weight:bold">Giới thiệu</span>
						</a>
					</li>
					
				</ul>
				<%= form_with url:'/search', method: :get, html:{class:"form_search"} do |f| %>
					<%# <input type="search" class="form-control form-control-dark" placeholder="Nhập từ khóa tìm kiếm"> %>
					<%= f.text_field :search, class: "form-control form-control-dark form-tim-kiem", placeholder: "Nhập từ khóa tìm kiếm" %>

			  	<% end %>

				<ul class="nav justify-content-end form-account">
				
						<% if session[:current_user_id] %>
							<%  user = User.find_by_id(session[:current_user_id]) %>
							<% paramProfile = "/user/" + user.id.to_s + "/profile"  %>
							<% paramEdit = "/user/" + user.id.to_s + "/update"  %>
							<li>
								<%= link_to user.username , paramProfile,  class:"nav-link" %>	
								
							</li>
							<li>
								<i role="button" data-bs-toggle="dropdown" aria-expanded="false" >
									<% if user.img_user.attached? %> 
									<%= image_tag user.img_user,style: "width: 26px;height: 26px;margin-top:0px; border-radius:50px;" %> 
									<% else %>
									<%= image_tag "img_avatar.png",style: "width: 26px;height: 26px;margin-top:0px; border-radius:50px;" %> 
									<%end%>   
									<span class="dropdown-toggle"  style="font-size:20px; padding:5px; "></span>
								</i>
								<%# <i 
									class='fas fa-user-circle ' 
									id="navbarDropUser" 
									style='font-size:26px; margin-top:10px; color:#3a4dd4;' 
									role="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="dropdown-toggle" style="font-size:20px; padding:5px ; "></span></i> %>
									
								<ul class="dropdown-menu dropdown-menu-end">
									<li>
										<button class="dropdown-item" type="button">
											<%= link_to 'Thông tin', paramProfile,  class:"" %> 
										</button>
									</li>
									<li>
										<button class="dropdown-item" type="button">
											<%= link_to 'Cập nhật thông tin', paramEdit,  class:"" %> 
										</button>
									</li>
									<li>
										<button class="dropdown-item" type="button">
											<%= link_to 'Đăng bài', '/blogs/new',  class:"" %> 
										</button>
									</li>
								<%if User.find_by_id( session[:current_user_id] ).quyen == 1 %>
									<li>
										<button class="dropdown-item" type="button">
											<%= link_to 'Trang Quản trị', '/admin/thongke',  class:"" %> 
										</button>
									</li>
									
								<% end %>
									<li>
										<button class="dropdown-item" type="button">
											<%= link_to 'Quản lý bài viết', '/blogs',  class:"" %> 
										</button>
									</li>
									<li>
										<button class="dropdown-item" type="button">
											<%= link_to 'Đăng Xuất', "/logout", data: { confirm: 'Bạn có thực sự muốn đăng xuất ?' } %> 
										</button>
									</li>
								</ul>
							</li>
						<% else %>
							<div class="btn-group">
								<a class="dropdown-toggle" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="fas fa-user"></i>
									Tài khoản
								</a>
								<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
									<li>
										<%= link_to 'Đăng Nhập', "/login",  class:"dropdown-item  btn_login" %> 
									</li>
									<li>
										<%= link_to 'Đăng ký', "/register",  class:"dropdown-item btn_register" %>
									</li>
								</ul>
							</div>
						<% end %>
				</ul>
				</div>
				
			</div>
		</div>
	</div>
	<% if request.env['PATH_INFO'] === "/"%>
		<div class="container_fluid">
			<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
				<div class="carousel-indicators">
					<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
					<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
					<button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
				</div>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<%= image_tag "https://nordiccoder.com/app/uploads/2021/01/128-why_become_cbap.jpg", class:"d-block w-100", height:"500px" %> 
						<div class="carousel-caption d-none d-md-block">
							<h5>Cộng đồng lập trình</h5>
							<p>Nơi mở rộng kiến thức và phát triển tư duy lập trình của bạn.</p>
						</div>
					</div>
					<div class="carousel-item">
						<%= image_tag "https://nordiccoder.com/app/uploads/2021/01/127-business-analysis.png", class:"d-block w-100", height:"500px" %> 
						<div class="carousel-caption d-none d-md-block">
							<h5>Những kiến thức bổ ích</h5>
							<p>Mang đến cho bạn những kiến thức lập trình có giá trị.</p>
						</div>
					</div>
					<div class="carousel-item">
						<%= image_tag "https://nordiccoder.com/app/uploads/2020/12/125-lo-trinh-business-analysis.jpg", class:"d-block w-100", height:"500px" %> 
						<div class="carousel-caption d-none d-md-block">
							<h5>Kinh nghiệm làm việc</h5>
							<p>Chúng tôi sẽ chia sẻ nhiều kinh nghiệm làm việc quý báu.</p>
						</div>
					</div>
				</div>
				<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Previous</span>
				</button>
				<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="visually-hidden">Next</span>
				</button>
			</div>	
		</div>
	<%end %>


