
    <div class="container_fluid">
		<div class=" card text-center">
			<div class=" col-sm-12 card-header">
				<ul class="nav justify-content-start" style="position:absolute">
					<li class="nav-item title_menu">
						
						<%= link_to 'Blog Lập trình ', "/",  class:"title_blog" %>

					</li>
					
					
					<li style="margin-left:50px">
						<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Danh mục
						</a>
						<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
							<div class="box_danhmuc" >
								<ul class="row" style="width:100%;" align="center">
								 	<%# get danh sách danh muucj %>
									<% category = Category.all%>
									<% category.each do |category|%>
										<li class="col-sm-3"><%= link_to category.name, "/search?idCategory=" + category.id.to_s%> </li> 
									<% end %>
								</ul>
							</div>
						</ul>
					</li>
					<li>
						<a class="nav-link active" href="#">Nổi bật</a>
					</li>
					
				</ul>
				<%= form_with url:'/search', method: :get, html:{class:"form_search"} do |f| %>
					<%# <input type="search" class="form-control form-control-dark" placeholder="Nhập từ khóa tìm kiếm"> %>
					<%= f.text_field :search, class: "form-control form-control-dark", placeholder: "Nhập từ khóa tìm kiếm" %>

			  	<% end %>
				<%# <form class="form_search" >
					<input type="search" class="form-control form-control-dark" placeholder="Nhập từ khóa tìm kiếm">
				</form> %>
				<ul class="nav justify-content-end ">
				
						<% if session[:current_user_id] %>
							<%  user = User.find_by_id(session[:current_user_id]) %>
							<% paramProfile = "/user/" + user.id.to_s + "/profile"  %>
							<% paramEdit = "/user/" + user.id.to_s + "/update"  %>
							<li>
								<%= link_to user.username , paramProfile,  class:"nav-link" %>	
								
							</li>
							<li>
								<i role="button" data-bs-toggle="dropdown" aria-expanded="false" >
									<% if user.img_user.attached? %> 
									<%= image_tag user.img_user,style: "width: 26px;height: 26px;margin-top:0px; border-radius:50px;", id:"imgshow" %> 
									<% else %>
									<%= image_tag "img_avatar.png",style: "width: 26px;height: 26px;margin-top:0px; border-radius:50px;", id:"imgshow" %> 
									<%end%>   
									<span class="dropdown-toggle"  style="font-size:20px; padding:5px; "></span>
								</i>
								<%# <i 
									class='fas fa-user-circle ' 
									id="navbarDropUser" 
									style='font-size:26px; margin-top:10px; color:#3a4dd4;' 
									role="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="dropdown-toggle" style="font-size:20px; padding:5px ; "></span></i> %>
									
								<ul class="dropdown-menu dropdown-menu-end">
									<li>
										<button class="dropdown-item" type="button">
											<%= link_to 'Thông tin', paramProfile,  class:"" %> 
										</button>
									</li>
									<li>
										<button class="dropdown-item" type="button">
											<%= link_to 'Cập nhật thông tin', paramEdit,  class:"" %> 
										</button>
									</li>
									<li>
										<button class="dropdown-item" type="button">
											<%= link_to 'Đăng bài', '/blogs/new',  class:"" %> 
										</button>
									</li>
								<%if User.find_by_id( session[:current_user_id] ).quyen == 1 %>
									<li>
										<button class="dropdown-item" type="button">
											<%= link_to 'Quản lý danh mục', '/categories',  class:"" %> 
										</button>
									</li>
									<li>
										<button class="dropdown-item" type="button">
											<%= link_to 'Quản lý User', '/users',  class:"" %> 
										</button>
									</li>
								<% end %>
									<li>
										<button class="dropdown-item" type="button">
											<%= link_to 'Quản lý bài viết', '/blogs',  class:"" %> 
										</button>
									</li>
									<li>
										<button class="dropdown-item" type="button">
											<%= link_to 'Đăng Xuất', "/logout" %> 
										</button>
									</li>
								</ul>
							</li>
						<% else %>
							<li>
								<%= link_to 'Đăng Nhập', "/login",  class:"nav-link btn-primary btn_login" %> 
							</li>
							<li>
								<%= link_to 'Đăng ký', "/register",  class:"nav-link btn-primary btn_register" %>
							</li>
						<% end %>
				</ul>
			</div>
		</div>


