<!DOCTYPE html>
<html>
  	<head>
    	<title>CuoiKy</title>
    	<meta name="viewport" content="width=device-width,initial-scale=1">
  


    	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
   	 	<%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  	</head>

  <body>
	
		<div class="container" align="center">
			<h3 style="margin-top: 50px;margin-bottom:40px">
				<span class="title_main">
					BÀI VIẾT NỔI BẬT
				</span>
			</h3>
			<% @blogs_demo.each do |blog|%>
			<div class="row card_item">
					<div class="col-lg-5">
						<div class="main_img">
							<% if blog.img.attached? %> 
								<%= image_tag blog.img,style: "width: 100%; height:220px ; display: block" %> 
							<% else %>
								<%= image_tag "loi-hien-thi.png",style: "width:100% ;  height:220px" %> 
							<%end%>  
							<%# <img src="https://codelearn.io/Upload/Blog/cpu-mang-hoc-sau-nhanh-gap-15-lan-gpu-63753709737.0559.jpg" width="100%" height="220px"> %>
						</div>
					</div>
					<div class="col-lg-7">
						<div class="title">
							<h4>   <%= link_to blog.title, "/blogs/" + blog.id.to_s%> </h4>
						</div>
						<div class="detail" style="height: 100px"> 
							<%= blog.abstract%>
						</div>
						<div class="card_footer">
							<span class="author">Tác giả: <i><%= User.find_by_id(blog.idUser).username %></i> </span>
							<span class="create_at"> <%= blog.created_at.strftime("%d/%m/%Y") %></span>
								
						</div>
					</div>
			
			</div>
			<% end%>
			<%# <div class="row card_item">
					<div class="col-lg-5">
						<div class="main_img">
							<img src="https://codelearn.io/Upload/Blog/cpu-mang-hoc-sau-nhanh-gap-15-lan-gpu-63753709737.0559.jpg" width="100%" height="220px">
						</div>
					</div>
					<div class="col-lg-7">
						<div class="title">
							<h4> Java và Hướng đối tượng </h4>
						</div>
						<div class="detail">
							<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nisi ea, cupiditate expedita nostrum dolorem tempore nemo iste odit, architecto ducimus! Consequatur suscipit dolores iste voluptatem sint corrupti saepe cupiditate!</p>
							
						</div>
						<div class="card_footer">
							<span class="author">Tác giả: <i>Nguyễn Sơn Hải</i> </span>
							<span class="create_at">12/12/2002</span>
						</div>
						
					</div>
			
			</div>
			<div class="row card_item">
					<div class="col-lg-5">
						<div class="main_img">
							<img src="https://codelearn.io/Upload/Blog/cpu-mang-hoc-sau-nhanh-gap-15-lan-gpu-63753709737.0559.jpg" width="100%" height="220px">
						</div>
					</div>
					<div class="col-lg-7">
						<div class="title">
							<h4> Java và Hướng đối tượng </h4>
						</div>
						<div class="detail">
							 Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nisi ea, cupiditate expedita nostrum dolorem tempore nemo iste odit, architecto ducimus! Consequatur suscipit dolores iste voluptatem sint corrupti saepe cupiditate!
						</div>
						<div class="card_footer">
							<span class="author">Tác giả: <i>Nguyễn Sơn Hải</i> </span>
							<span class="create_at">12/12/2002</span>
						</div>
					</div>

			
			</div> %>
		
		</div>

	<%# phần mới nhất   %>
		<div class="container" style="width:81%;margin-top: 40px">
			<h3>
				<span class="title_main">
					MỚI CẬP NHẬT
				</span>
			</h3>
			<div class="row ">
					<% @blogs_update.each do |blog|%>
				<div class="col-lg-4" style="">
					<div class="card_blog">
						<div class="col-sm-12 cardBlog_img">
							<% if blog.img.attached? %> 
								<%= image_tag blog.img,style: "width: 100%; height:220px ; display: block" %> 
							<% else %>
								<%= image_tag "loi-hien-thi.png",style: "width:100% ;  height:220px" %> 
							<%end%>  
							<%# <img src="https://codelearn.io/Upload/Blog/can-bang-phuong-trinh-hoa-hoc-bang-cpp-63752466266.5863.jpg" > %>
						</div>
						<div class="col-sm-12 cardBolg_body">
							<p class="cardblog_title"> <%= link_to blog.title, "/blogs/" + blog.id.to_s%> </p>
							<% if blog.abstract.length <= 85%>
								<span class="cardBlog_detail">  <%= blog.abstract %></span>
							<% else %>
								<span class="cardBlog_detail">  
									<%= blog.abstract[0..70] %>...
								</span>
							<%end %>
							<div class="row">
								<div class="col-sm-12 card_danhmuc">

								<% if blog.idCategory.length > 2 %> <%# xử lý idCategory trong blog %>
									<% count_idcategory =  blog.idCategory.length - 2 %>
									<% blog.idCategory[0..count_idcategory]%>
								<% else %>
									<%count_idcategory =  blog.idCategory.length - 1 %>
									<% blog.idCategory[0..count_idcategory]%>
								<% end%>
							<%# lấy ra danh  muc theo query select + categoru where id IN (1,2,3) %>
								<%  categories =  Category.where(id: blog.idCategory[0..count_idcategory].split(",") ) %> 
								<% categories.each do |cate| %>
									<span class="card_titleDanhmuc"><%= cate.name%> </span>
								<% end%>
								</div>
							</div>
						</div>
						<div class=" col-sm-12 cardBlog_footer">
							<hr style="border-color: black; height: 0px" />
							<span class="author"> <%= User.find_by_id(blog.idUser).username %> </span>
							<span class="create_at"> <%= blog.created_at.strftime("%d/%m/%Y") %> </span>
							<span class="sharing"><i class='fas fa-share-alt' style='font-size:24px'></i></span>

						</div>
					</div>
					
				</div>
				<% end %>

			
				
			
			</div>
		</div>
<%# =------------------ %>
	<%# phần Phổ biến nhất   %>
		<div class="container" style="width:81%;margin-top: 40px">
			<h3>
				<span class="title_main">
					PHỔ BIẾN
				</span>
			</h3>
			<div class="row ">
					<% @blogs_popular.each do |blog|%>
				<div class="col-lg-4" style="">
					<div class="card_blog">
						<div class="col-sm-12 cardBlog_img">
							<% if blog.img.attached? %> 
								<%= image_tag blog.img,style: "width: 100%; height:220px ; display: block" %> 
							<% else %>
								<%= image_tag "loi-hien-thi.png",style: "width:100% ;  height:220px" %> 
							<%end%>  
							<%# <img src="https://codelearn.io/Upload/Blog/can-bang-phuong-trinh-hoa-hoc-bang-cpp-63752466266.5863.jpg" > %>
						</div>
						<div class="col-sm-12 cardBolg_body">
							<p class="cardblog_title"> <%= link_to blog.title, "/blogs/" + blog.id.to_s%> </p>
							<% if blog.abstract.length <= 70%>
								<span class="cardBlog_detail">  <%= blog.abstract %></span>
							<% else %>
								<span class="cardBlog_detail">  
									<%= blog.abstract[0..70] %>...
								</span>
							<%end %>
							<div class="row">
								<div class="col-sm-12 card_danhmuc">

								<% if blog.idCategory.length > 2 %> <%# xử lý idCategory trong blog %>
									<% count_idcategory =  blog.idCategory.length - 2 %>
									<%#  blog.idCategory[0..count_idcategory]%>
								<% else %>
									<%count_idcategory =  blog.idCategory.length - 1 %>
									<%# blog.idCategory[0..count_idcategory]%>
								<% end%>
								<%# lấy ra danh  muc theo query select + categoru where id IN (1,2,3) %>
								<%  categories =  Category.where(id: blog.idCategory[0..count_idcategory].split(",") ) %> 
								<% categories.each do |cate| %>
									<span class="card_titleDanhmuc"><%= cate.name%> </span>
								<% end%>
								</div>
							</div>
						</div>
						<div class=" col-sm-12 cardBlog_footer">
							<hr style="border-color: black; height: 0px" />
							<span class="author"> <%= User.find_by_id(blog.idUser).username %> </span>
							<span class="create_at"> <%= blog.created_at.strftime("%d/%m/%Y") %> </span>
							<span class="sharing"><i class='fas fa-share-alt' style='font-size:24px'></i></span>

						</div>
					</div>
					
				</div>
				<% end %>

			
				
			
			</div>
		</div>
</body>
</html>

