

    <h2 style="margin-top: 30px;margin-bottom:30px;text-align: center">
        <span class="title_main">
            Bình luận
        </span>
    </h2>
   
<div class="table-wrapper" >
    <table class="fl-table">
  <thead>
    <tr>
      <th> STT</th>
      <th>Người đăng</th>
      <th>Nội dung</th>
      <th ></th>
      


    </tr>
  </thead>

  <tbody>
    <% stt = 1 %>
    <% @comments.each do |comment| %>
      <tr>
        <td> <%= stt %>
        <td><%= User.find_by_id(comment.idUser).username %></td>
        <td><%= comment.content %></td>
       
        <td><%= link_to 'Xóa', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% stt = stt + 1 %>
    <% end %>
  </tbody>
</table>
</div>
<div class="container" align="center" style="padding:3px 40%">
	<nav aria-label="Page navigation example"  align="center">
		<% if @total_page > 1 %>
		<ul class="pagination">
			<li class="page-i
			tem"><%= link_to "first", request.env['PATH_INFO'].to_s + "?page=1" , class:"page-link"  %> </li>
			<% for i in 1..@total_page %>
			<%# <li class="page-item"><a class="page-link" href="#"><%= i  </a></li> %>
			<li class="page-item"><%= link_to i, request.env['PATH_INFO'].to_s+"?page="+i.to_s , class:"page-link"  %> </li>
			<% end%>
			<li class="page-item"><%= link_to "last", request.env['PATH_INFO'].to_s+"?page="+ @total_page.to_s , class:"page-link"  %> </li>

		</ul>
		<% end %>
	</nav>
</div>
<br>

