
<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  	<div class="col-sm-6 form-group">
     	<%= form.label :username , class: "col-md-2 control-label"  %>
    	<%= form.text_field :username , class: "form-control", placeholder: "Enter user name" %>
   
  	</div>
	

  	<div class="col-sm-6 form-group">
		<%= form.label :email, class:"col-md-2 control-label" %>
		<%= form.text_field :email, class: "form-control", placeholder: "Enter your email" %>
	</div>

  	<div class="col-sm-6 form-group">
		<%= form.label :password, class:"col-md-2 control-label" %>
		<%= form.text_field :password_digest, class: "form-control", placeholder: "Enter your password" %>
  	</div>
    <div class="col-sm-6 form-group">
    	<%= form.label :"Re password", class:"col-md-2 control-label" %>
    	<%= form.text_field :Repass, class: "form-control", placeholder: "Enter your Re password" %>
  	</div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
