<p id="notice"><%= notice %></p>

<h1>Quản lý người dùng</h1>

<div class="table-wrapper" >
    <table class="fl-table">
        <thead>
        <tr>
            <th>STT</th>
            <th>Tên người dùng</th>
            <th>Email</th>
			<th>Số bài đăng</th>
			<th>Vai trò </th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
			<% stt = 1 %>
           	<% @users.each do |user| %>
				<% if user.quyen == 1 %>
					<% role = "Người quản trị"%>
				<% elsif user.quyen == 0%>
					<% role = "Người dùng"%>
				<%end%>
				<%  count_blog = Blog.where("idUser = "+ user.id.to_s).distinct.count(:id)%>
        <tr>
            <td><%= stt %></td>
            <td><%=user.username  %></td>
            <td><%= user.email %></td>
			<td><%= count_blog %></td>
            <td><%= role %></td>
			<td><button><%= link_to 'Chi tiết', user %></button></td>
			<td><button><%= link_to 'Xóa', user, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
		</tr>
		<% stt = stt+ 1%>
        <% end %>

        <tbody>
    </table>
</div>
<br>

