<p id="notice"><%= notice %></p>
<p> <%= params.permit("page")%>
    <h2 style="margin-top: 5%;margin-bottom:30px;text-align: center">
        <span class="title_main">
            DANH MỤC
        </span>
    </h2>
    <button class="btn btn-outline-primary" style="margin-right:120px;float:right;margin-bottom:10px">
        <%= link_to 'Thêm danh mục', new_category_path %>
    </button>

<div class="table-wrapper" style="margin-left:20%">
    <table class="fl-table">
        <thead>
        <tr>
            <th>STT</th>
            <th>Tên Danh mục</th>
            <th>Xem blog</th>
            <th colspan="2"></th>
        </tr>
        </thead>
        <tbody>
			<% stt = 1 %>
            <% @categories.each do |category| %>
   
        <tr>
            <td><%= stt %></td>
            <td><%= category.name %></td>
            <td>
                <button class="btn btn-outline-primary"><%= link_to 'Xem blogs', "/search?idCategory="+category.id.to_s %>  
                </button>
            </td>
       		<td>
                <button class="btn btn-warning"><%= link_to 'Sửa', edit_category_path(category) %> 
                </button>
            </td>
        	<td>
                <button class="btn btn-danger"><%= link_to 'Xóa', category, method: :delete, data: { confirm: 'Bạn có muốn xóa danh mục '+category.name+ ' này ko?' } %>
                </button>
            </td>
        </tr>
		<% stt = stt+ 1%>
        <% end %>

        <tbody>
    </table>
</div>
<nav aria-label="Page navigation example" style="margin-left:40%">
  <ul class="pagination">
    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item"><a class="page-link" href="#">Next</a></li>
  </ul>
</nav>
